<div class='container'>
    <div *ngIf='timestamp' style="margin: 1.5rem 0rem 0rem 7rem;">
        <div>
            <h1 class='rem2'>{{ city }} <img *ngIf="currentCountryFlag" [src]="currentCountryFlag"></h1>
        </div>
        <div>
            <h1 class='rem2'>
                {{ weather.temperature | floor }}<span>°C</span>
            </h1>
            <h1 class='rem2'>
                
            </h1>
        </div>
        <div>
            <h2 class='rem1-7'>
                <div>
                    <p>
                        {{ timestamp }} - 
                        <span style="margin-right: 13px;">{{ weather.summary }}</span>
                        <span>
                            <i class='wi wi-day-sunny' *ngIf="weather.icon == 'clear-day'"></i>
                            <i class='wi wi-night-clear' *ngIf="weather.icon == 'clear-night'"></i>
                            <i class='wi wi-day-cloudy' *ngIf="weather.icon == 'partly-cloudy-day'"></i>
                            <i class='wi wi-night-alt-cloudy' *ngIf="weather.icon == 'partly-cloudy-night'"></i>
                            <i class='wi wi-showers' *ngIf="weather.icon == 'rain'"></i>
                            <i class='wi wi-cloudy' *ngIf="weather.icon == 'cloudy'"></i>
                            <i class='wi wi-strong-wind' *ngIf="weather.icon == 'wind'"></i>
                            <i class='wi wi-fog' *ngIf="weather.icon == 'fog'"></i>
                        </span>
                    </p>
                </div>
            </h2>
        </div>
        <hr style="color:white;">
        <div>
            <h4 class='rem1-2' *ngIf='weather.apparentTemperature != undefined'>
                    <i class='wi wi-thermometer'></i> feels like {{ weather.apparentTemperature | floor }}<span>°C</span>
            </h4>
            <h4 class='rem1-2' *ngIf='weather.humidity != undefined'>
                <i class='wi wi-humidity'></i> Humidity - {{ ((weather.humidity * 100) | number:'1.0-0') + '%'}}
            </h4>
            <h4 class='rem1-2' *ngIf='weather.windSpeed != undefined'>
                <i class='wi wi-strong-wind'></i> Wind - {{ weather.windBearingDescription + ' ' + ((weather.windSpeed * 3.6) | number:'1.0-0') + ' km/h' }}
            </h4>
            <h4 class='rem1-2' *ngIf='weather.windSpeed != undefined'>
                <i class='wi wi-day-sunny' style="font-weight: 900;"></i> UV Index - {{ weather.uvIndexDescription }} ( {{ weather.uvIndex}} )
            </h4>
            <h4 class='rem1-2' *ngIf='weather.windSpeed != undefined'>
                <i class='wi wi-cloudy' style="font-weight: 900;"></i> Cloud Cover - {{ weather.cloudCover * 100 | number:'1.0-0' }}%
            </h4>
        </div>
    </div>
</div>