
<div class='bgContainer' 
    [ngStyle]="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))'}">

    <video autoplay muted loop height="110%" width="100%" id="myVideo">
        <!--<source src="{{routeToVideo}}" type="video/mp4">-->
    </video>

    <div class="row" style="z-index:10">

        <div class="col-md-6">
            <wt-current-weather [weather]='currentWeather'
                [timestamp]='currentTimestamp'
                [city]='city' [currentCountryFlag]='countryFlag'>                
            </wt-current-weather>
        </div>
        <div class="col-md-6">
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onMapClick($event)">
                <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                            (markerClick)="markerClicked($event)" (dragEnd)="onDragEnd($event)"
                            animation="DROP">
                </agm-marker>
            </agm-map>
        </div>
    </div>
    <div class="row" style="margin-top:5rem;">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <ul class="nav nav-pills">
                <li class="nav-item" (click)="clickHourly($event)">
                    <a class="nav-link active">Hourly</a>
                </li>
                <li class="nav-item" (click)="clickDaily($event)">
                    <a class="nav-link">Daily</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5"></div>
    </div>
    
    

    <div class="container results" style="margin-bottom: 5rem;" *ngIf="showHourly">
        <div><h2>Hourly</h2></div>
        <div class="summary">
            <span style="font-size: 30px;">
                <i class='wi wi-day-sunny' *ngIf="hourlyIcon == 'clear-day'"></i>
                <i class='wi wi-night-clear' *ngIf="hourlyIcon == 'clear-night'"></i>
                <i class='wi wi-day-cloudy' *ngIf="hourlyIcon == 'partly-cloudy-day'"></i>
                <i class='wi wi-night-alt-cloudy' *ngIf="hourlyIcon == 'partly-cloudy-night'"></i>
                <i class='wi wi-showers' *ngIf="hourlyIcon == 'rain'"></i>
                <i class='wi wi-cloudy' *ngIf="hourlyIcon == 'cloudy'"></i>
                <i class='wi wi-strong-wind' *ngIf="hourlyIcon == 'wind'"></i>
                <i class='wi wi-fog' *ngIf="hourlyIcon == 'fog'"></i>
                <i class='wi wi-snow' *ngIf="hourlyIcon == 'snow'"></i>
            </span>
            <span>   {{ hourlySummary }}</span> 
        </div>
        <div *ngFor='let day of days; let i = index;'>
            <div class="card-header bg-blue" id="headingOne" (click)='ngCollapse(i)'>
                <div class='row'>
                    <div class='col-md-11'>
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-dropdown" aria-expanded="true" >
                                {{ day.dayOfWeek | titlecase }} {{ day.date }}
                            </button>
                        </h5>
                    </div>
                    <div class='col-md-1'>
                        <h5 class="mb-0">
                            <button class='btn btn-link btn-dropdown'><i id='buttonArrow{{i}}' class='fa fa-angle-down'></i></button>
                        </h5>
                    </div>
                </div>
            </div>
            <div class='card-body' id="hourlyTable{{i}}">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope='col'>Hour</th>
                            <th scope='col'>Temp.</th>
                            <th scope='col'>Precip.</th>
                            <th scope='col'>Humidity</th>
                            <th scope='col'>Wind</th>
                            <th scope='col'>Cloudiness</th>
                            <th scope='col'>Visibility</th>
                            <th scope='col'>UV Index</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let weather of day.weathers'>
                            <td *ngIf='weather.timeString != undefined'>{{ weather.timeString }}</td>
                            <td *ngIf='weather.temperature != undefined'> {{ weather.temperature | number:'1.0-0' }}<span>°C</span></td>
                            <td *ngIf='weather.precipProbability != undefined' scope='col'>{{ ((weather.precipProbability * 100) | number:'1.0-0') + '%'}}</td>
                            <td *ngIf='weather.humidity != undefined'>{{ ((weather.humidity * 100) | number:'1.0-0') + '%'}}</td>
                            <td *ngIf='weather.windSpeed != undefined'>{{ weather.windBearingDescription + ' ' + ((weather.windSpeed * 3.6) | number:'1.0-0') + ' km/h' }}</td>
                            <td *ngIf='weather.cloudCover != undefined'>{{ ((weather.cloudCover * 100) | number:'1.0-0') + '%' }}</td>
                            <td *ngIf='weather.visibility != undefined'>{{ weather.visibility + ' km'}}</td>
                            <td *ngIf='weather.uvIndex != undefined'>{{ weather.uvIndexDescription }} - {{ weather.uvIndex}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container results" style="margin-bottom: 5rem;" *ngIf='showDaily'>
        <div><h2>Daily</h2></div>
        <div class="summary">
            <span style="font-size: 30px;">
                <i class='wi wi-day-sunny' *ngIf="dailyIcon == 'clear-day'"></i>
                <i class='wi wi-night-clear' *ngIf="dailyIcon == 'clear-night'"></i>
                <i class='wi wi-day-cloudy' *ngIf="dailyIcon == 'partly-cloudy-day'"></i>
                <i class='wi wi-night-alt-cloudy' *ngIf="dailyIcon == 'partly-cloudy-night'"></i>
                <i class='wi wi-showers' *ngIf="dailyIcon == 'rain'"></i>
                <i class='wi wi-cloudy' *ngIf="dailyIcon == 'cloudy'"></i>
                <i class='wi wi-strong-wind' *ngIf="dailyIcon == 'wind'"></i>
                <i class='wi wi-fog' *ngIf="dailyIcon == 'fog'"></i>
                <i class='wi wi-snow' *ngIf="dailyIcon == 'snow'"></i>
            </span>
            <span>   {{ dailySummary }}</span>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope='col'>Humidity</th>
                        <th scope='col'>Wind</th>
                        <th scope='col'>Cloudiness</th>
                        <th scope='col'>Visibility</th>
                        <th scope='col'>UV Index</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let weather of dailyWeather'>
                        <td *ngIf='weather.humidity' scope='col'>{{ ((weather.humidity * 100) | number:'1.0-0') + '%'}}</td>
                        <td *ngIf='weather.windSpeed'>{{ weather.windSpeed + ' m/s' }}</td>
                        <td *ngIf='weather.cloudCover'>{{ ((weather.cloudCover * 100) | number:'1.0-0') + '%' }}</td>
                        <td *ngIf='weather.visibility'>{{ weather.visibility + ' km'}}</td>
                        <td *ngIf='weather.uvIndex >= 0 || weather.uvIndex'>{{ weather.uvIndexDescription }} - {{ currentWeather.uvIndex}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="height: 7rem;">

    </div>
</div>