.nav-link {
    font-size: large;
}

.nav-back {
    background-color: #023F5F !important;
    color: white;
}

.vh8{
    height: 3.2rem;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.vh92{
    height: 92vh;
}

.inputCity{
    width: 25rem;
    border-radius: 18px;
}

.pageBarLogo{
    margin-left: 4rem;
}

.pageBarTitle{
    margin-left: 0.3rem;
    margin-right: 1.5rem;
}

a:hover, img:hover{
    cursor: pointer;
}

agm-map {
    height: 300px;
    width: 100%;
}