.container{
    padding-top: 70px;
    color: white;
    border-radius: 10px;
}

.results{
    margin-top: 59px;
    margin-left: 8%;
    background-color: royalblue;
    position: absolute;
    align-content: center;
}

.bgContainer{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}