.nav-link {
    font-size: large;
}

.nav-back {
    background-color: #023F5F !important;
    color: white;
}

.vh8{
    height: 8vh;
}

.vh92{
    height: 92vh;
}

.inputCity{
    width: 60vh;
    border-radius: 18px;
}

.pageBarLogo{
    margin-left: 4rem;
}

.pageBarTitle{
    margin-left: 0.3rem;
    margin-right: 1.5rem;
}